.Item {
  display: flex;
  justify-content: space-between;
}

.taskTitle {
  cursor: pointer;
  font-weight: bold;
}

.btns {
  display: flex;
  align-items: center;
}

.btns button {
  margin: 3px;
  padding: 5px;
  border: 2px solid lightblue;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

.desc {
  text-align: left;
  font-size: 14px;
}
